<?xml version="1.0" encoding="UTF-8"?>
<plugin id="lycwed-cordova-plugin-admob-vungle" version="1.0.20"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>lycwed-cordova-plugin-admob-vungle</name>
    <description>Cordova AdMob Mediation Plugin for Vungle</description>

    <engines>
        <engine name="cordova" version=">=3" />
    </engines>

    <platform name="android">
        <framework src="com.google.android.gms:play-services-location:+" />
        <framework src="src/android/vungle.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/Vungle.java" target-dir="src/com/lycwed/cordova/vungle" />

        <!-- Prevents compilation error: https://developer.android.com/studio/build/multidex.html -->
        <!-- when add additional mediation plugins -->
        <dependency id="cordova-plugin-multidex" />
    </platform>

    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod id="GoogleMobileAdsMediationVungle" version="5.3.2.0" />

        <header-file src="src/ios/Vungle.h" />
        <source-file src="src/ios/Vungle.m" />

        <!-- Prevents compilation failures when using pod's id with additional mediations plugins -->
        <dependency id="cordova-plugin-cocoapod-support" />
    </platform>

	<config-file parent="/*" target="config.xml">
		<preference name="REWARDVIDEO_ID" value="$REWARDVIDEO_ID"/>
		<preference name="INTERSTITIAL_ID" value="$INTERSTITIAL_ID"/>
	</config-file>
</plugin>
